@import "tailwindcss";


@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: #fff;
        background-color: black;
        font-family: "Inter", sans-serif;
        overflow-x: hidden;
    }

    html {
        scroll-behavior: smooth;
        scrollbar-color: red;
    }

    button,
    a {
        cursor: pointer;
    }
}

@layer utilities {
    .text-gradient {
        background: #3a46b4;
        background: linear-gradient(135deg, rgb(113, 58, 180) 0%, rgb(252, 133, 69) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 800;
    }

}